<html>
<body>
<script>
document.write("<ul>");
document.write("<li> <a href=\"http://"+window.location.hostname+":39200\">http://"+window.location.hostname+":39200</a> </li>");
document.write("<li> <a href=\"http://"+window.location.hostname+":39200/_plugin/head\">http://"+window.location.hostname+":39200/_plugin/head</a> </li>");
document.write("<li> <a href=\"http://"+window.location.hostname+":39200/_plugin/sense\">http://"+window.location.hostname+":39200/_plugin/sense</a> </li>");
document.write("<li> <a href=\"http://"+window.location.hostname+":39200/_pligin/kopf\">http://"+window.location.hostname+":39200/_plugin/kopf</a> </li>");
document.write("<ul>");
</script>
</body>
</html>
