<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export VMNAME=&quot;HG-$$&quot;
/puppet/jenkins/bin/metacloud.init login
/puppet/jenkins/bin/metacloud.init build
/puppet/jenkins/bin/metacloud.init start rsyslog2-jessie-small-metacloud
/puppet/jenkins/bin/metacloud.init ssh &apos;wget http://esb3.metacentrum.cz/rsyslog2.git/bootstrap.install.sh &amp;&amp; sh -x bootstrap.install.sh&apos;
/puppet/jenkins/bin/metacloud.init ssh &apos;cd /puppet &amp;&amp; git checkout wardenb2&apos;
################
/puppet/jenkins/bin/metacloud.init ssh &apos;cd /puppet &amp;&amp; sh phase2.install.sh&apos;

/puppet/jenkins/bin/metacloud.init ssh &apos;cd /puppet &amp;&amp; sh hpglastopf.install.sh&apos;
/puppet/jenkins/bin/metacloud.init ssh &apos;cd /puppet &amp;&amp; sh hpglastopf/tests/hpglastopf.sh&apos;

</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>