<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export VMNAME=&quot;RC-$$-GN&quot;
/puppet/jenkins/bin/magrathea.init login
/puppet/jenkins/bin/magrathea.init build
/puppet/jenkins/bin/magrathea.init start

#vm image fixup
/puppet/jenkins/bin/magrathea.init fixup

/puppet/jenkins/bin/magrathea.init ssh &apos;wget http://esb3.metacentrum.cz/rsyslog2.git/bootstrap.install.sh &amp;&amp; sh -x bootstrap.install.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh phase2.install.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh rsyslog-client.install.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh glastopf.install.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh nfdump.install.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;ps faxu&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh -x rsyslog/tests/rsyslog7_installed.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh -x rsyslog/tests/rsyslog-client_netstat.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh -x glastopf/tests/glastopf.sh&apos;
/puppet/jenkins/bin/magrathea.init ssh &apos;cd /puppet &amp;&amp; sh -x netflow/tests/nfdump.sh&apos;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>