<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>export VMNAME=&quot;SCS-$$&quot;
/puppet/jenkins/bin/metacloud.init login
/puppet/jenkins/bin/metacloud.init build
/puppet/jenkins/bin/metacloud.init start rsyslog2-jessie-small-metacloud
############

/puppet/jenkins/bin/metacloud.init ssh &apos;cd / &amp;&amp; git clone http://esb.metacentrum.cz/puppet-securitycloud.git &amp;&amp; cd puppet-securitycloud &amp;&amp; sh securitycloud/bin/standalone.sh&apos;
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>